In [20]:
import numpy as np
import pandas as pd

In [21]:
df=pd.read_csv("complete_student_analysis_dataset.csv")

In [22]:
df.head()

,student_id,math_original,science_original,english_original,attendance,math_int8,attendance_float32,weighted_total,math_mean,science_mean,...,grade,bonus_points,final_score,math_original_zscore,science_original_zscore,english_original_zscore,math_original_percentile,science_original_percentile,english_original_percentile,overall_performance
0,1001,82.45,76.70,65.00,71,82,71,76.08,73.4422,79.4485,...,C,0,76.08,0.661,-0.238,-1.706,35.70,60.20,65.00,Needs Improvement
1,1002,72.93,68.88,65.30,90,72,90,69.60,73.4422,79.4485,...,D,0,69.60,-0.038,-0.917,-1.672,45.19,60.37,65.30,Needs Improvement
2,1003,84.72,64.79,65.61,99,84,99,72.97,73.4422,79.4485,...,C,0,72.97,0.828,-1.272,-1.637,45.60,60.66,65.61,Good
3,1004,97.85,73.50,65.91,70,97,70,81.34,73.4422,79.4485,...,B,0,81.34,1.792,-0.516,-1.603,46.30,61.48,65.91,Needs Improvement
4,1005,71.49,97.72,66.21,97,71,97,79.35,73.4422,79.4485,...,C,0,79.35,-0.143,1.585,-1.569,48.55,61.63,66.21,Good

In [23]:
import pandas as pd
df=pd.read_csv('nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [24]:
df['Temperature'].max()

np.int64(50)

In [25]:
# to know which day it rains  
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [26]:
#3. average wind speed
df['WindSpeedMPH'].mean()

np.float64(6.892857142857143)

In [27]:
import numpy as np
import pandas as pd

In [28]:
df=pd.read_csv("complete_student_analysis_dataset.csv")
df

,student_id,math_original,science_original,english_original,attendance,math_int8,attendance_float32,weighted_total,math_mean,science_mean,...,grade,bonus_points,final_score,math_original_zscore,science_original_zscore,english_original_zscore,math_original_percentile,science_original_percentile,english_original_percentile,overall_performance
0,1001,82.45,76.70,65.00,71,82,71,76.08,73.4422,79.4485,...,C,0,76.08,0.661,-0.238,-1.706,35.70,60.20,65.00,Needs Improvement
1,1002,72.93,68.88,65.30,90,72,90,69.60,73.4422,79.4485,...,D,0,69.60,-0.038,-0.917,-1.672,45.19,60.37,65.30,Needs Improvement
2,1003,84.72,64.79,65.61,99,84,99,72.97,73.4422,79.4485,...,C,0,72.97,0.828,-1.272,-1.637,45.60,60.66,65.61,Good
3,1004,97.85,73.50,65.91,70,97,70,81.34,73.4422,79.4485,...,B,0,81.34,1.792,-0.516,-1.603,46.30,61.48,65.91,Needs Improvement
4,1005,71.49,97.72,66.21,97,71,97,79.35,73.4422,79.4485,...,C,0,79.35,-0.143,1.585,-1.569,48.55,61.63,66.21,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1096,53.05,69.76,93.79,92,53,92,69.08,73.4422,79.4485,...,D,0,69.08,-1.497,-0.841,1.569,97.85,97.72,93.79,Needs Improvement
96,1097,79.44,98.92,94.09,91,79,91,89.92,73.4422,79.4485,...,B,5,94.92,0.440,1.689,1.603,98.07,98.50,94.09,Excellent
97,1098,78.92,75.72,94.39,88,78,88,81.67,73.4422,79.4485,...,B,0,81.67,0.402,-0.323,1.637,98.47,98.87,94.39,Good
98,1099,75.08,95.68,94.70,94,75,94,87.20,73.4422,79.4485,...,B,5,92.20,0.120,1.408,1.672,98.69,98.92,94.70,Excellent
99,1100,71.48,85.25,95.00,95,71,95,82.18,73.4422,79.4485,...,B,0,82.18,-0.144,0.503,1.706,102.78,99.43,95.00,Good

In [29]:
df.head()

,student_id,math_original,science_original,english_original,attendance,math_int8,attendance_float32,weighted_total,math_mean,science_mean,...,grade,bonus_points,final_score,math_original_zscore,science_original_zscore,english_original_zscore,math_original_percentile,science_original_percentile,english_original_percentile,overall_performance
0,1001,82.45,76.70,65.00,71,82,71,76.08,73.4422,79.4485,...,C,0,76.08,0.661,-0.238,-1.706,35.70,60.20,65.00,Needs Improvement
1,1002,72.93,68.88,65.30,90,72,90,69.60,73.4422,79.4485,...,D,0,69.60,-0.038,-0.917,-1.672,45.19,60.37,65.30,Needs Improvement
2,1003,84.72,64.79,65.61,99,84,99,72.97,73.4422,79.4485,...,C,0,72.97,0.828,-1.272,-1.637,45.60,60.66,65.61,Good
3,1004,97.85,73.50,65.91,70,97,70,81.34,73.4422,79.4485,...,B,0,81.34,1.792,-0.516,-1.603,46.30,61.48,65.91,Needs Improvement
4,1005,71.49,97.72,66.21,97,71,97,79.35,73.4422,79.4485,...,C,0,79.35,-0.143,1.585,-1.569,48.55,61.63,66.21,Good

In [30]:
df.tail()

,student_id,math_original,science_original,english_original,attendance,math_int8,attendance_float32,weighted_total,math_mean,science_mean,...,grade,bonus_points,final_score,math_original_zscore,science_original_zscore,english_original_zscore,math_original_percentile,science_original_percentile,english_original_percentile,overall_performance
95,1096,53.05,69.76,93.79,92,53,92,69.08,73.4422,79.4485,...,D,0,69.08,-1.497,-0.841,1.569,97.85,97.72,93.79,Needs Improvement
96,1097,79.44,98.92,94.09,91,79,91,89.92,73.4422,79.4485,...,B,5,94.92,0.440,1.689,1.603,98.07,98.50,94.09,Excellent
97,1098,78.92,75.72,94.39,88,78,88,81.67,73.4422,79.4485,...,B,0,81.67,0.402,-0.323,1.637,98.47,98.87,94.39,Good
98,1099,75.08,95.68,94.70,94,75,94,87.20,73.4422,79.4485,...,B,5,92.20,0.120,1.408,1.672,98.69,98.92,94.70,Excellent
99,1100,71.48,85.25,95.00,95,71,95,82.18,73.4422,79.4485,...,B,0,82.18,-0.144,0.503,1.706,102.78,99.43,95.00,Good

1. Create Array from student dataset math scores

In [31]:
math_scores_array=df['math_original'].to_numpy()
print("Math scores Array:")
print(math_scores_array)

Math scores Array:
[ 82.45  72.93  84.72  97.85  71.49  71.49  98.69  86.51  67.96  83.14
  68.05  68.01  78.63  46.3   49.13  66.57  59.81  79.71  61.38  53.82
  96.98  71.61  76.01  53.63  66.83  76.66  57.74  80.64  65.99  70.62
  65.97 102.78  74.8   59.13  87.34  56.69  78.13  45.6   55.08  77.95
  86.08  77.57  73.27  70.48  52.82  64.2   68.09  90.86  80.15  48.55
  79.86  69.22  64.85  84.18  90.46  88.97  62.41  70.36  79.97  89.63
  67.81  72.22  58.4   57.06  87.19  95.34  73.92  90.05  80.42  65.32
  80.42  98.07  74.46  98.47  35.7   87.33  76.31  70.51  76.38  45.19
  71.7   80.36  97.17  67.23  62.87  67.47  88.73  79.93  67.05  82.7
  76.46  89.53  64.47  70.09  69.12  53.05  79.44  78.92  75.08  71.48]

Generate Grade boundaries using linspace for science scores

In [32]:
min_science=df['science_original'].min()
max_science=df['science_original'].max()

grade_boundaries=np.linspace(min_science,max_science,5)
print(grade_boundaries)

[60.2    70.0075 79.815  89.6225 99.43  ]

Initialize digital attendance system with zeros

In [33]:
num_students=len(df)
attend=np.zeros(num_students,dtype=int)

4.Optimize memory usage for student performance grades

In [34]:
print(f"original 'grade' dtype: {df['grade'].dtype}")
print("Before optimization memory usage:")
print(df['grade'].memory_usage(deep=True))
df['grade']=df['grade'].astype('category')
print(f"optimized 'grade' dtype:{df['grade'].dtype}")
print("Memory usage after optimization:")
print(df['grade'].memory_usage(deep=True))

original 'grade' dtype: object
Before optimization memory usage:
5132
optimized 'grade' dtype:category
Memory usage after optimization:
604

Optimize storage for math scores using different integer types

In [ ]:
print(f"original 'math_original' dtype: {df['math_original'].dtype}")
print("Before optimization memory usage:")
print(df['math_original'].memory_usage(deep=True))

df['math_int8'] = df['math_original'].astype('int8')
print(f"\noptimized 'math_int8' dtype: {df['math_int8'].dtype}")
print("Memory usage after optimization:")
print(df['math_int8'].memory_usage(deep=True))

# convert attendance -> uint8 (correct)

original 'math_original' dtype: float64
Before optimization memory usage:
932

optimized 'math_int8' dtype: int8
Memory usage after optimization:
232

In [40]:
print(f"original 'attend' dtype: {attend.dtype}")
print("Before optimization memory usage:")
print(attend.nbytes)

attend_int8 = attend.astype('int8')
print(f"\noptimized 'attend_int8' dtype: {attend_int8.dtype}")
print("Memory usage after optimization:")
print(attend_int8.nbytes)

original 'attend' dtype: int64
Before optimization memory usage:
800

optimized 'attend_int8' dtype: int8
Memory usage after optimization:
100

6.Explore float precision with science_original Scores

In [42]:
print(f"original 'science_original' dtype: {df['science_original'].dtype}")
print("Before optimization memory usage:")
print(df['science_original'].memory_usage(deep=True))

df['science_float16'] = df['science_original'].astype('float16')
print(f"\noptimized 'science_float16' dtype: {df['science_float16'].dtype}")
print("Memory usage after optimization:")
print(df['science_float16'].memory_usage(deep=True))

original 'science_original' dtype: float64
Before optimization memory usage:
932

optimized 'science_float16' dtype: float16
Memory usage after optimization:
332

Optimize Memory for attendance DATA

In [55]:
print(f"original 'attend' dtype: {attend.dtype}")
print("Before optimization memory usage:")
print(attend.nbytes)

attend_uint8 = attend.astype('uint8')
print(f"\noptimized 'attend_uint8' dtype: {attend_uint8.dtype}")
print("Memory usage after optimization:")

print(attend_uint8.nbytes)

original 'attend' dtype: int64
Before optimization memory usage:
800

optimized 'attend_uint8' dtype: uint8
Memory usage after optimization:
100

Calculate Average scores with custom weights