In [1]:
import pandas as pd
df=pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
weather_data=[('1/1/2017',32,6,'Rain'),
              ('1/2/2017',35,7,'Sunny'),
              ('1/3/2017',28,2,'snow'),
              ('1/4/2017',24,7,'snow'),
              ('1/5/2017',32,4,'Rain'),
              ('1/6/2017',31,2,'sunny'),
             ]
df=pd.DataFrame(weather_data,columns=['day','tempperature','windspeed','event'])
df

        day  tempperature  windspeed  event
0  1/1/2017            32          6   Rain
1  1/2/2017            35          7  Sunny
2  1/3/2017            28          2   snow
3  1/4/2017            24          7   snow
4  1/5/2017            32          4   Rain
5  1/6/2017            31          2  sunny

In [3]:
df.shape

(6, 4)

In [4]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [5]:
df.head

<bound method NDFrame.head of         day  tempperature  windspeed  event
0  1/1/2017            32          6   Rain
1  1/2/2017            35          7  Sunny
2  1/3/2017            28          2   snow
3  1/4/2017            24          7   snow
4  1/5/2017            32          4   Rain
5  1/6/2017            31          2  sunny>

In [6]:
df.tail

<bound method NDFrame.tail of         day  tempperature  windspeed  event
0  1/1/2017            32          6   Rain
1  1/2/2017            35          7  Sunny
2  1/3/2017            28          2   snow
3  1/4/2017            24          7   snow
4  1/5/2017            32          4   Rain
5  1/6/2017            31          2  sunny>

In [7]:
df.event

0     Rain
1    Sunny
2     snow
3     snow
4     Rain
5    sunny
Name: event, dtype: object

In [8]:
df[2:5]
# slicing

        day  tempperature  windspeed event
2  1/3/2017            28          2  snow
3  1/4/2017            24          7  snow
4  1/5/2017            32          4  Rain

In [9]:
df[['day','event']]
# get 2 or more columns

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   snow
3  1/4/2017   snow
4  1/5/2017   Rain
5  1/6/2017  sunny

In [10]:
df['tempperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: tempperature, dtype: int64

In [11]:
df['tempperature'].max()

np.int64(35)

In [12]:
df['tempperature'].min()

np.int64(24)

In [13]:
df['tempperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: tempperature, dtype: float64

In [14]:
df[df.tempperature==df.tempperature.max()]

        day  tempperature  windspeed  event
1  1/2/2017            35          7  Sunny

In [15]:
df[df.tempperature==df.tempperature.min()]

        day  tempperature  windspeed event
3  1/4/2017            24          7  snow

In [16]:
df.day[df.tempperature==df.tempperature.max()]

1    1/2/2017
Name: day, dtype: object

In [18]:
#read excel file
%pip install xlrd
%pip install openpyxl
df=pd.read_excel('weather_data.xlsx')
df

Requirement already satisfied: xlrd in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny